#customer-search-input {
    width: 100%;
}
.sidebar h3 {
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 15px;
}
.sidebar ol {
    font-size: small;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 45px;
}
.sidebar ol li {
    padding: 12px 0 0;
}

#search-recent-searches {
    background-color: #54697a;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
}

@media (max-width: 767px) {
    #recently-viewed {
        display: none;
    }

    div {
        padding-top: 15px;
    }

    h3 {
        margin-top: 0;
    }
}