#customer-search-input {
    width: 100%;
    border: 0;
    height: 40px;
    padding: 5px;
    box-shadow: 0px 1px 1px 1px #ddd;
}
#customer-search-input:focus {
     outline: none;
}
.sidebar h3 {
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 15px;
}
.sidebar ol {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 45px;
}
.sidebar ol li {
    font-size: small;
    text-align: center;
    padding: 12px 0 0;
}

@media (max-width: 767px) {
    #customer-search-input {
        font-size: medium;
    }
    #recently-viewed {
        display: none;
    }

    div {
        padding-top: 15px;
    }

    h3 {
        margin-top: 0;
    }
}