
<div class='col-md-9 col-sm-9'>
    <div class='workspace'>
        <h3>Search</h3>
        <input [(ngModel)]='searchTerm' (keyup)='runSearch()' id='customer-search-input' type='text' placeholder='By phone number, email, name, or order no.'>
    </div>
    <div *ngIf='results && results.length'>
        <table width="100%">
            <thead class='results-header'>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Primary Address</th>
                    <th>Recent Orders</th>
                </tr>
            </thead>
            <tbody class='results-body'>
                <tr *ngFor="let customer of results" [routerLink]="['Customer', {customerId: customer.id}]">
                    <td class='text-center'>{{customer.id}}</td>
                    <td>{{customer.nameFirst}}</td>
                    <td>{{customer.nameLast}}</td>
                    <td>{{customer.email}}</td>
                    <td class='text-center'>{{customer.phone | phone }}</td>
                    <td>{{customer.addresses[0].street1}}, {{customer.addresses[0].city}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf='!orders || orders.length == 0' class='no-results'>No matches</div>
</div>
<div id='recently-viewed' class='col-md-3 col-sm-3'>
    <div class='sidebar'>
        <h3>Recently<br/>Viewed</h3>
        <ol>
            <li><a [routerLink]="['Customer', {customerId: 356}]">Alex Sinelnikov</a></li>
            <li><a [routerLink]="['Customer', {customerId: 357}]">Eric Small</a></li>
        </ol>
        <div id='search-recent-searches' class='subsection'>
            <h3>Recent<br/>Searches</h3>
            <ol>
                <li><a [routerLink]="['CustomerSearch', {searchTerm: 'eric'}]">eric</a></li>
                <li><a [routerLink]="['CustomerSearch', {searchTerm: 'eric small'}]">eric small</a></li>
                <li><a [routerLink]="['CustomerSearch', {searchTerm: 'david'}]">david</a></li>
            </ol>
        </div>
    </div>
</div>