<div class='row'>
    <div class='col-lg-1 col-md-2 col-sm-1 hidden-xs'>
        <fcc-customer-menu 
            [customerId]='customerId' 
            [orderId]='orderId'
            (notifyShowCancelled)='toggleCancelledOrders($event)'
            (notifyOrderFilter)='filterOrders($event)'></fcc-customer-menu>
    </div>

    <div class='col-lg-8 col-md-7 col-sm-8'>
        <fcc-order-list 
            [customerId]='customerId' 
            [showCancelled]='showCancelledOrders'
            [filterOrderNumber]='filterOrderNumber'></fcc-order-list>
    </div>
    
    <div class='col-md-3 col-sm-3'>
        <fcc-customer-profile [customerId]='customerId'></fcc-customer-profile>
    </div>
</div>