#customer-search-input {
    width: 100%;
    border: 0;
    height: 40px;
    padding: 5px;
    box-shadow: 0px 1px 1px 1px #ddd;
}
#customer-search-input:focus {
     outline: none;
}
.sidebar h3 {
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 15px;
}
.sidebar ol {
    font-size: small;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 45px;
}
.sidebar ol li {
    padding: 12px 0 0;
}

#search-recent-searches {
    background-color: #54697a;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
}
thead {
    background-color: #BFCBD7;
    color: #768897;
}
thead tr {
    height: 30px;
}
thead th {
    border-right: #D2DAE4 1px solid;
    text-align: center;
    font-weight: lighter;
}
thead th:last-child {
    border-right: none;
}
tbody {
    background-color: #ECEFF6;
    color: #768897;
}
tbody tr {
    height: 45px;
    border-bottom: #D1D5DE 1px solid;
}
tbody td {
    padding-left: 5px;
}

@media (max-width: 767px) {
    #customer-search-input {
        font-size: medium;
    }
    #recently-viewed {
        display: none;
    }

    div {
        padding-top: 15px;
    }

    h3 {
        margin-top: 0;
    }
}