<div class='row'>
    <div class='col-lg-1 col-md-2 col-sm-1 hidden-xs'>
        <fcc-customer-menu 
            [customerId]='customerId' 
            [activeSection]='activeSection'
            [activeSubsection]='activeSubsection'
            (notifyButtonPressed)='menuButtonPressed($event)'
            (notifyShowCancelled)='toggleCancelledOrders($event)'
            (notifyOrderFilter)='filterOrders($event)'></fcc-customer-menu>
    </div>

    <div class='col-lg-8 col-md-7 col-sm-8' *ngIf='activeSection=="Orders" && activeSubsection=="OrderList"'>
        <fcc-customer-order-list 
            [customerId]='customerId' 
            [showCancelled]='showCancelledOrders'
            [filterOrderNumber]='filterOrderNumber'
            (notifySelectedOrder)='showSelectedOrder($event)'></fcc-customer-order-list>
    </div>

    
    <div class='col-lg-8 col-md-7 col-sm-8' *ngIf='activeSection=="Orders" && activeSubsection!="OrderList"'>
        <fcc-customer-order 
            [customerId]='customerId' 
            [order]='order'
            [orderPart]='activeSubsection'></fcc-customer-order>
    </div>
    

    <div class='col-md-3 col-sm-3'>
        <fcc-customer-profile-sidebar [customerId]='customerId'></fcc-customer-profile-sidebar>
    </div>
</div>