<div (window:resize)="onResize($event)">
    <header class='container-fluid navbar navbar-default navbar-fixed-top'>
        <div (click)='closeMenu()' class='col-md-2 col-sm-10'>
            <div class='pull-left'><img src='app/assets/images/flycommand_logo.png'/></div>
        </div>
        <div class='col-md-10 col-sm-2'>
             <button (click)='toggleMenu()' class='btn btn-success navbar-toggle'>
                 <span *ngIf='!showMenu' class='glyphicon glyphicon-chevron-down'></span>
                 <span *ngIf='showMenu' class='glyphicon glyphicon-chevron-up'></span>
                 </button>
             <ul *ngIf='showMenu' class='nav navbar-nav'>
                <li class='nav'><a [routerLink]="['Customers']">Customers</a></li>
                <li class='nav'><a href='http://services.flycleaners.com/Tracker/trucks'>Trucks</a></li>
                <li class='nav'><a href='http://services.flycleaners.com/Tracker/employees'>Drivers</a></li>
                <li class='nav'><a href='http://services.flycleaners.com/Tracker/items'>Items</a></li>
                <li class='nav'><a href='http://services.flycleaners.com/Tracker/vendors'>Vendors</a></li>
                <li class='nav'><a href='http://services.flycleaners.com/Tracker/log'>Activity</a></li>
                <li class='nav'><a href='http://services.flycleaners.com/Tracker/statistics'>Reports</a></li>
                <li class='nav'><a href='http://services.flycleaners.com/Tracker/pricing'>Docs</a></li>
            </ul>
        </div>
    </header>
    <div id='main' (click)='closeMenu()' class='container-flued'><router-outlet></router-outlet></div>
    <footer class='container-fluid navbar navbar-default navbar-fixed-bottom'>
        <div class='col-md-12'>
            <ul class='nav navbar-nav'>
                <li class='nav'><a href='http://services.flycleaners.com/Tracker/tools'>Tools</a></li>
                <li class='nav'><a href='http://services.flycleaners.com/Tracker/GetPendingCreditRequestHTML'>Credits</a></li> 
            </ul>
        </div>
        <div class='col-md-12 copyright'>
            <div>&copy; Dry Cycle Brands, LLC 2016</div>
        </div>
    </footer>
</div>