/* FlyCleaners Museu fonts */
@font-face {
    font-family: 'MuseoSans500';
    src: url('assets/fonts/museosans_500.eot');
    src: url('assets/fonts/museosans_500.eot') format('embedded-opentype'),
         url('assets/fonts/museosans_500.woff') format('woff'),
         url('assets/fonts/museosans_500.ttf') format('truetype'),
         url('assets/fonts/museosans_500.svg#MuseoSans500') format('svg');
}
@font-face {
    font-family: 'MuseoSans700';
    src: url('assets/fonts/museosans_700.eot');
    src: url('assets/fonts/museosans_700.eot') format('embedded-opentype'),
         url('assets/fonts/museosans_700.woff') format('woff'),
         url('assets/fonts/museosans_700.ttf') format('truetype'),
         url('assets/fonts/museosans_700.svg#MuseoSans700') format('svg');
}
@font-face {
    font-family: 'MuseoSlab700';
    src: url('assets/fonts/museo_slab_700.eot');
    src: url('assets/fonts/museo_slab_700.eot') format('embedded-opentype'),
         url('assets/fonts/museo_slab_700.woff') format('woff'),
         url('assets/fonts/museo_slab_700.ttf') format('truetype'),
         url('assets/fonts/museo_slab_700.svg#MuseoSlab700') format('svg');
}


/* Main override styles app-wide */
body {
    margin-top: 70px;  /* handle the top nav height */
    font-family: MuseoSans500;
    background-color: #b0becb;
}
h1, h2, h3, h4, h5, h6 {
    font-family: MuseoSlab700;
}
li {
    font-size: large;
}
div.panel-heading {
   font-size: x-large; 
}
.main {
    background-color: #e9e9e9;
}


/* Local app.component.html styles */
header.navbar, footer.navbar {
    background-color: #005dab;
    color: white;
}
header {
    padding-right: 0;
}
header button.navbar-toggle {
    margin-top: 15px;
    margin-right: 0;
}
header > div.col-md-10.col-sm-2 {
    padding-right: 5px;
}
header img {
    max-width: 150px;
    margin: 20px;
    position: relative;
    left: -30px;
    top: -3px;
}
header.navbar-default .navbar-nav > li > a,
header.navbar-default .navbar-nav > li > a:hover,
header.navbar-default .navbar-nav > li > a:active,
header.navbar-default .navbar-nav > li > a:visited {
    color: white;
    height: 70px;
    width: 70px;
    padding: 25px 0;
    text-align: center;
}
header.navbar-default .navbar-nav > li {
    height: 70px;
    width: 70px;
}
header.navbar-default .navbar-nav > li:hover {
    background-color: #3c7fb1;   
}
header .nav {
    font-size: small;
    position: relative;
}
footer.navbar-default .navbar-nav > li > a,
footer.navbar-default .navbar-nav > li > a:active,
footer.navbar-default .navbar-nav > li > a:visited {
    color: white;
    height: 40px;
    width: 100px;
    padding: 10px 0;
    text-align: center;
}
footer.navbar-default .navbar-nav > li > a:hover {
    font-weight: bold;
}
footer .nav {
    position: relative;
    top: 2px;
    font-size: small;
}
footer ul.nav {
    margin-top: 0;
    margin-bottom: 0;
}
footer li.nav {
    display: inline-block;
}
footer .copyright { /* Copyright text at very bottom of the screen */
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 8px;
    text-align: center;
}
footer .copyright > div {
    position: relative;
    left:-50%;
}


/* Media query customizations */
/* Top navigation on wider screens */
@media (min-width: 1200px) {
    header.navbar-default .navbar-nav > li {
        width: 85px;
    }
    header.navbar-default .navbar-nav > li > a,
    header.navbar-default .navbar-nav > li > a:hover,
    header.navbar-default .navbar-nav > li > a:active,
    header.navbar-default .navbar-nav > li > a:visited {
        width: 85px;
    }
}
@media (min-width: 1400px) {
    header.navbar-default .navbar-nav > li {
        width: 100px;
    }
    header.navbar-default .navbar-nav > li > a,
    header.navbar-default .navbar-nav > li > a:hover,
    header.navbar-default .navbar-nav > li > a:active,
    header.navbar-default .navbar-nav > li > a:visited {
        width: 100px;
    }
}
/* Dropdown nagivation for small screens */
@media (max-width: 991px) {
    header ul.nav {
        position: absolute;
        top: 70px;
        right: 0;
        margin-top: 0;
        background-color: #005dab;
    }
    header.navbar-default .navbar-nav > li {
        border-bottom: #337ab7 1px solid;
        height: 50px;
        width: 200px;
    }
    header.navbar-default .navbar-nav > li > a,
    header.navbar-default .navbar-nav > li > a:hover,
    header.navbar-default .navbar-nav > li > a:active,
    header.navbar-default .navbar-nav > li > a:visited {
        height: 50px;
        width: 200px;
        padding: 15px;
        text-align: center;
    }
    .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
}
@media (max-width: 767px) {
    header ul.nav {
        position: absolute;
        top: 70px;
        right: 0;
        width: 300px;
        margin-top: 0;
        background-color: transparent;
        font-size: 0; /* so that spaces between LI tags aren not displayed/take up space */
    }
    header.navbar-default .navbar-nav > li {
        background-color: #005dab;
        border-bottom: #337ab7 1px solid;
        border-left: #337ab7 1px solid;
        height: 100px;
        width: 100px;
        display: inline-block;
    }
    header.navbar-default .navbar-nav > li > a,
    header.navbar-default .navbar-nav > li > a:hover,
    header.navbar-default .navbar-nav > li > a:active,
    header.navbar-default .navbar-nav > li > a:visited {
        height: 100px;
        width: 100px;
        padding: 40px 0;
        text-align: center;
        font-size: 16px;
    }
    .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
}
/* Footer text tiny, copyright centered on small screens */
@media (max-width: 767px) {
    footer .copyright > div {
        position: relative;
        left:-65%;
    }  
    footer.navbar-default .navbar-nav > li > a,
    footer.navbar-default .navbar-nav > li > a:active,
    footer.navbar-default .navbar-nav > li > a:visited {
        font-size: smaller;
        width: 60px;
    }
}


/* Workspace */
.workspace {
    background-color: #eceff6;
    margin: 15px 0;
    padding: 15px;
    box-shadow: 0px 8px 8px 2px #888888;
}


/* Sidebar */
.sidebar {
    background-color: #758da5;
    margin: 15px -15px 15px -15px;
    padding: 15px;
    color: white;
}
.sidebar a {
    color: white;
}