<div class='sidemenu'>
    <button class='main text-uppercase' [class.active]='activeSection=="Orders"' (click)='buttonPressed("Orders", "OrderList")'>
        <span class='visible-lg visible-md'><span class="glyphicon glyphicon-tags"></span> Orders</span>
        <span class='hidden-lg hidden-md'>Orders</span>
    </button>
    <div class='submenu' *ngIf='activeSection=="Orders"'>
        <div *ngIf='activeSubsection=="OrderList"'>
            <button *ngIf='!showOrderFilter' (click)='turnOnOrderFilter()'>Filter<!--
                --><span *ngIf='orderNumberFilter'>: {{orderNumberFilter}}
                <span (click)='clearOrderFilter()' class="pull-right glyphicon glyphicon-trash"></span>
            </span></button>
            <input #inputNumberFilter *ngIf='showOrderFilter' type='text' placeholder='Order #' (keyup)='sendOrderFilter()' (blur)='turnOffOrderFilter()' [(ngModel)]='orderNumberFilter' />
            
            <button (click)='toggleCancelled()'>{{showCancelled ? 'Hide' : 'Show'}} Cancelled</button>
        </div>
        <div *ngIf='!(activeSubsection=="OrderList")'>
            <button [class.active]='activeSubsection=="Services"' (click)='buttonPressed("Orders", "Services")'>Services</button>
            <button [class.active]='activeSubsection=="Events"' (click)='buttonPressed("Orders", "Events")'>Events</button>
            <button [class.active]='activeSubsection=="Preferences"' (click)='buttonPressed("Orders", "Preferences")'>Preferences</button>
            <button [class.active]='activeSubsection=="Receipt"' (click)='buttonPressed("Orders", "Receipt")'>Receipt</button>
            <button [class.active]='activeSubsection=="Feedback"' (click)='buttonPressed("Orders", "Feedback")'>Feedback</button>
        </div>
    </div>
    
    <button class='main text-uppercase' [class.active]='activeSection=="Profile"' (click)='buttonPressed("Profile", "Addresses")'>
        <span class='visible-lg visible-md'><span class="glyphicon glyphicon-user"></span> Profile</span>
        <span class='hidden-lg hidden-md'>Profile</span>
    </button>
    <div class='submenu' *ngIf='activeSection=="Profile"'>
        <button [class.active]='activeSubsection=="Addresses"' (click)='buttonPressed("Profile", "Addresses")'>Addresses</button>
        <button [class.active]='activeSubsection=="Preferences"' (click)='buttonPressed("Profile", "Preferences")'>Preferences</button>
        <button [class.active]='activeSubsection=="Credits"' (click)='buttonPressed("Profile", "Credits")'>Credit History</button>
        <button [class.active]='activeSubsection=="Notes"' (click)='buttonPressed("Profile", "Notes")'>Internal Notes</button>
        <button [class.active]='activeSubsection=="Tickets"' (click)='buttonPressed("Profile", "Tickets")'>Zendesk Tickets</button>
        <button [class.active]='activeSubsection=="Appboy"' (click)='buttonPressed("Profile", "Appboy")'>Appboy Messages</button>
        <button [class.active]='activeSubsection=="Stripe"' (click)='buttonPressed("Profile", "Stripe")'>Stripe Payments</button>
        <button [class.active]='activeSubsection=="Chat"' (click)='buttonPressed("Profile", "Chat")'>Chat Mentions</button>
        <button [class.active]='activeSubsection=="Usage"' (click)='buttonPressed("Profile", "Usage")'>App Usage</button>
    </div>
</div>