<div class='row'>
    <div class='col-md-9 col-sm-9'>
        <fcc-order-list [customerId]='id'></fcc-order-list>
    </div>
    
    <div id='recently-viewed' class='col-md-3 col-sm-3'>
        <div class='sidebar'>
            <h3>{{nameFirst}}<br/>{{nameLast}}</h3>
            <table>
                <tr>
                    <td>ID</td>
                    <td>{{id}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{email}}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{phone}}</td>
                </tr>
                <tr>
                    <td>Primary Address</td>
                    <td></td>
                </tr>
                <tr>
                    <td>App Version</td>
                    <td>{{appVersion}}</td>
                </tr>
                <tr>
                    <td>Device Type</td>
                    <td>{{deviceType}}</td>
                </tr>
            </table>
            <div>Customer Since</div>
            <div>Total Orders</div>
            <div>Total Spend</div>
            <div>Avg Spend</div>
            <div>Credit Balance</div>
            <div>Ticket Count</div>
        </div>
    </div>
</div>