<div class='sidemenu'>
    <button class='main active text-uppercase'>
        <span class='visible-lg visible-md'><span class="glyphicon glyphicon-tags"></span> Orders</span>
        <span class='hidden-lg hidden-md'>Orders</span>
    </button>
    <div class='submenu'>
        <button *ngIf='!showOrderFilter' (click)='turnOnOrderFilter()'>Filter<!--
            --><span *ngIf='orderNumberFilter'>: {{orderNumberFilter}}
            <span (click)='clearOrderFilter()' class="pull-right glyphicon glyphicon-trash"></span>
        </span></button>
        <input #inputNumberFilter *ngIf='showOrderFilter' type='text' (keyup)='sendOrderFilter()' (blur)='turnOffOrderFilter()' [(ngModel)]='orderNumberFilter' />
        
        <button (click)='toggleCancelled()'>{{showCancelled ? 'Hide' : 'Show'}} Cancelled</button>
    </div>
    
    <button class='main text-uppercase'>
        <span class='visible-lg visible-md'><span class="glyphicon glyphicon-tags"></span> Profile</span>
        <span class='hidden-lg hidden-md'>Profile</span>
    </button>
</div>