<div class='row'>
    <div class='panel panel-primary col-md-4'>
        <div class='panel-heading'>
            <h4>{{nameFirst}}<br/>{{nameLast}}</h4>
        </div>
        <div class='panel-body'>
            <div>ID: {{id}}</div>
            <div>Address</div>
            <div>Email</div>
            <div>Phone</div>
            <div>Version</div>
            <div>Customer Since</div>
            <div>Total Orders</div>
            <div>Total Spend</div>
            <div>Avg Spend</div>
            <div>Credit Balance</div>
            <div>Ticket Count</div>
        </div>
    </div>
    <div class='panel panel-primary col-md-8'>
        <fcc-order-list></fcc-order-list>
    </div>
</div>