
<div class='sidebar'>
    <h3>{{nameFirst}}<br/>{{nameLast}}</h3>
    <table>
        <tr>
            <td class='text-uppercase'>ID</td>
            <td>{{customerId}}</td>
        </tr>
        <tr>
            <td class='text-uppercase'>Email</td>
            <td>{{email}}</td>
        </tr>
        <tr>
            <td class='text-uppercase'>Phone</td>
            <td>{{phone}}</td>
        </tr>
        <tr>
            <td class='text-uppercase'>Primary Address</td>
            <td></td>
        </tr>
        <tr>
            <td class='text-uppercase'>App Version</td>
            <td>{{appVersion}}</td>
        </tr>
        <tr>
            <td class='text-uppercase'>Device Type</td>
            <td>{{deviceType}}</td>
        </tr>
    </table>
    <div class='text-uppercase'>Customer Since</div>
    <div class='text-uppercase'>Total Orders</div>
    <div class='text-uppercase'>Total Spend</div>
    <div class='text-uppercase'>Avg Spend</div>
    <div class='text-uppercase'>Credit Balance</div>
    <div class='text-uppercase'>Ticket Count</div>
</div>