/* Side menu */
.sidemenu {
    background-color: #54697a;
    height: 100vh;
    margin: 15px -15px 0 0;
    padding: 0;
    color: white;
    font-size: 0; /* Hide whitespace */
}
.sidemenu button {
    background-color: #54697a;
    font-size: 12px;
    font-weight: lighter;
    width: 100%;
    margin: 0;
    border: 0;
    border-bottom: #758da5 1px solid;
    padding: 0;
}
.sidemenu button.main {
    border-top: #758da5 1px solid;
    height: 60px;
}
.sidemenu button.main {
    margin-top: 15px;
}
.sidemenu button.main:first-child {
    margin-top: 0;
}
.sidemenu .submenu button {
    font-size: 10px;
    text-align: left;
    height: 30px;    
    padding-left: 15%;
}
.sidemenu div.submenu button:first-child {
    border-bottom: #758da5 1px solid;
}
.sidemenu button:hover {
    background-color: #BFCBD7;
}
.sidemenu button.active {
    background-color: #758da5;
}
.sidemenu input[type=text] {
    font-size: 14px;
    width: 100%;
    height: 30px;
    padding-left: 14%;
    outline: none;
    color: #54697a;
}
.glyphicon {
    margin-right: 15px;
}
.glyphicon-trash {
    padding: 2px 5px 2px 5px;
    margin-right: 10px;
}
::-webkit-input-placeholder { 
    font-size: 10px;
} 
::-moz-placeholder { 
    font-size: 10px;
} 
:-ms-input-placeholder { 
    font-size: 10px;
} 
input:-moz-placeholder { 
    font-size: 10px; 
}