<div class='panel-heading'>
    Orders
</div>
<div class='panel-body'>
    <div>
        <div>Order Search:</div>
        <div>
            <input type='text' [(ngModel)]='orderNumberFilter' />
        </div>
    </div>
    <input type='checkbox' [(ngModel)]='exposedCancelled' (change)='toggleCancelled()' class='btn btn-primary'> Include cancelled orders
    <div class='table-responsive' *ngIf='orders && orders.length'>
        <table class='table'>
            <thead class='results-header'>
                <tr>
                    <th>Order #</th>
                    <th>Services</th>
                    <th>Status</th>
                    <th>Pick Up</th>
                    <th>Delivery</th>
                    <th>Price</th>
                    <th>Customer Rating</th>
                </tr>
            </thead>
            <tbody class='results-body'>
                <tr *ngFor='let order of orders | orderNumberFilter: [orderNumberFilter] | cancelledOrdersFilter: [exposedCancelled.toString()]'>
                    <td><a [routerLink]="['Order', {orderId: order.id}]">{{order.id}}</a></td>
                    <td>
                        <ol *ngFor='let service of order.services'>
                            <li>
                                {{service.type}}
                            </li>
                        </ol>
                    </td>
                    <td>
                        <ol *ngFor='let service of order.services'>
                            <li>
                                {{service.status}}
                            </li>
                        </ol>
                    </td>
                    <td class='text-nowrap'>{{order.pickup_date | date: "MMM/dd/yyy hh:mm" }}</td>
                    <td>
                        <ol *ngFor='let service of order.services'>
                            <li *ngIf='service.status == "Delivered"'>
                                <span class='text-nowrap'>{{service.delivery_date | date: "MMM/dd/yyy hh:mm" }}</span>
                            </li>
                        </ol>
                    </td>
                    <td>{{order.price | currency: 'USD':true:'1.2-2' }}</td>
                    <td class='text-center'><ai-star [rating]='order.overallRating'></ai-star></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf='!orders || orders.length == 0'>No orders match</div>
</div>