<table border=1 *ngIf='contents'>
    <tbody>
        <tr *ngFor='let item of contents | orderTypeFilter: [1] '>
            <td>{{item.type}}</td>
            <td>{{item.weight}}</td>
            <td>{{item.price}}</td>
            <td>{{item.scancode}}</td>
        </tr>
        
        <tr *ngFor='let adjustment of adjustments | orderTypeFilter: [1] '>
            <td>{{adjustment.description}}</td>
            <td>{{adjustment.percent}}</td>
            <td>{{adjustment.value}}</td>
            <td>{{adjustment.promo_code}}</td>
            <td>{{adjustment.promo_description}}</td>
        </tr>
    </tbody>
</table>
<br>
<table border=1 *ngIf='contents'>
    <tbody>
        <tr *ngFor='let item of contents | orderTypeFilter: [2] '>
            <td>{{item.type}}</td>
            <td>{{item.weight}}</td>
            <td>{{item.price}}</td>
            <td>{{item.scancode}}</td>
        </tr>
    </tbody>
</table>
<div *ngIf='!contents || contents.length == 0'>No items in this order</div>