.services {
    padding-left: 20px;
    padding-right: 20px;
}
.tagcode {
    font-size: 10px;
}
.subtotal {
    border-top: #54697a 1px solid;
    border-bottom: #54697a 1px solid;
    background-color: lightblue;
}
.total {
    color: white;
    font-size: 16px;
    background-color: #54697a;
    height: 32px;
}
.weight {
    padding-left: 40px;
    font-size: 10px;
    position: relative;
    top: -1px;
}
.heading {
    font-size: 20px;
    color: white;
    background-color: #005dab;
    margin: 20px 0 0;
    padding: 5px 20px 5px;
    border: #005dab 5px solid;
}
.divider {
    height: 40px;
}
.order-total {
    font-size: 24px;
}