<h2><img src='app/assets/images/laundry_icon.jpg'> Wash & Fold</h2>
<table>
    <thead class='results-header'>
       <tr>
            <td>#</td>
            <td>Type</td>
            <td>Status</td>
            <td>Location</td>
            <td>Planned Arrival</td>
            <td>True Arrival</td>
            <td>Truck/Drivers</td>
        </tr>
    </thead>
    <tbody class='results-body'>
        <tr *ngFor='let event of events | orderTypeFilter: [1];
                let isOdd = odd' [class.results-odd]='isOdd'>
            <td>{{event.id}}</td>
            <td>{{event.type}}<br/>{{event.load_or_unload}}</td>
            <td>{{event.status}}</td>
            <td>
                <span *ngIf='event.type == "Pickup" || event.type == "Delivery" || event.type == "Retrieval"'>
                        {{event.customer.name_first}} {{event.customer.name_last}}<br/>
                        {{event.address.street_1}}
                </span>
                <span *ngIf='event.type != "Pickup" && event.type != "Delivery" && event.type != "Retrieval"'>
                        {{event.address.address_label}}</span>
            </td>
            <td>
                <span *ngIf='event.on_demand_flag == 0'>{{event.arrive_from}} - {{event.arrive_to}}</span>
                <span *ngIf='event.on_demand_flag == 1'>{{event.original_arrive_estimate}}</span>
            </td>
            <td>
                <span *ngIf='!event.arrive_actual'>{{event.arrive_estimate}} (est.)
                    <span *ngIf='event.start_actual'>(in progress)</span>
                    <span *ngIf='event.hammer_flag == 1'>(locked)</span>
                </span>
                <span *ngIf='event.arrive_actual'>{{event.arrive_actual}}</span>
                
            </td>
            <td>{{event.truck.truck_name}}
                <ul *ngFor='let driver of event.drivers'>
                    <li>{{driver.name_first}} {{driver.name_last}}</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<h2><img src='app/assets/images/dry_cleaning_icon.jpg'> Dry Cleaning</h2>
<table>
    <thead class='results-header'>
       <tr>
            <td>#</td>
            <td>Type</td>
            <td>Status</td>
            <td>Location</td>
            <td>Planned Arrival</td>
            <td>True Arrival</td>
            <td>Truck/Drivers</td>
        </tr>
    </thead>
    <tbody class='results-body'>
        <tr *ngFor='let event of events | orderTypeFilter: [2];
                let isOdd = odd' [class.results-odd]='isOdd'>
            <td>{{event.id}}</td>
            <td>{{event.type}}<br/>{{event.load_or_unload}}</td>
            <td>{{event.status}}</td>
            <td>
                <span *ngIf='event.type == "Pickup" || event.type == "Delivery" || event.type == "Retrieval"'>
                        {{event.customer.name_first}} {{event.customer.name_last}}<br/>
                        {{event.address.street_1}}
                </span>
                <span *ngIf='event.type != "Pickup" && event.type != "Delivery" && event.type != "Retrieval"'>
                        {{event.address.address_label}}</span>
            </td>
            <td>
                <span *ngIf='event.on_demand_flag == 0'>{{event.arrive_from}} - {{event.arrive_to}}</span>
                <span *ngIf='event.on_demand_flag == 1'>{{event.original_arrive_estimate}}</span>
            </td>
            <td>
                <span *ngIf='!event.arrive_actual'>{{event.arrive_estimate}} (est.)
                    <span *ngIf='event.start_actual'>(in progress)</span>
                    <span *ngIf='event.hammer_flag == 1'>(locked)</span>
                </span>
                <span *ngIf='event.arrive_actual'>{{event.arrive_actual}}</span>
                
            </td>
            <td>{{event.truck.truck_name}}
                <ul *ngFor='let driver of event.drivers'>
                    <li>{{driver.name_first}} {{driver.name_last}}</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf='!events || events.length == 0'>No events</div>